<div class="row">
  <div class="col-md-12 padCol">
    <button class="btn btn-large altAction" ng-click="toLobby()">Back to lobby</button>
    <h3 class="inlineText">You're watching game # {{gameId}} ({{data.numPlayers}} Player{{(data.numPlayers!==1)?'s':''}})</h3>
    <div id="spectatorPrompt" class="innerCol" ng-bind-html="data.question | unsafe">
      {{data.question}}
    </div>
  </div>
</div>
<div id= "players" class="row">
  <div class="col-md-4 padCol watchDiv" ng-repeat="player in data.players">
    <strong>Player:</strong> {{player}}
    <div class="watchScreen innerCol" ui-ace="aceOption" ng-model="playerCode[player]" readonly>
    </div>
  </div>
</div>
<div class="row">
  <div id="gameDashboard" class="col-md-12 padCol">
    <div id="chatWrap" class="row noPadding">
      <div class="col-md-4 noPadding" ui-view="users"></div>
      <div class="col-md-8 noPadding" ui-view="chat"></div>
    </div>
  </div>
</div>
