<div id="gameChatContainer">
  <div id="gameChatDisplay" scroll-glue>
    <div class="message" ng-repeat="message in data.messages">
      <span ng-style="{'color':'{{nameToColor(message.userId)}}'}" class="username">{{message.userId}}:</span>
      <span 
      ng-class="{bold: message.bold}" 
      ng-bind-html="message.text | unsafe" 
      class="text">{{message.text}}</span>
    </div>
  </div>
  <div id="chatForm">
    <input type="text" on-enter="sendMessage()" ng-model="data.chatInput">
    <button ng-click="sendMessage()">Chat</button>
  </div>
</div>
