#lobbyContainer{
  margin-left: 0px;
  height: 800px;
  width: 1000px;
  padding: 20px 35px;
  background-color:  #ecf7f9;
  display: block;
  position: absolute
  z-index: 10000;
}

#games{
  width: 350px;
  display: inline-block;
}

#lobbyForms button{
  background-color: #002240;
  color: #FFFFFF;
  font-size: 20px;
  width: 120px;
  height: 30px;
  padding: 0px;
  margin-right: 10px;
  border-radius: 5px;
}

#forms button{
  background-color: #002240;
  color: #FFFFFF;
  font-size: 20px;
  width: 120px;
  height: 30px;
  padding: 0px;
  margin-right: 10px;
  border-radius: 5px;
}

#usersChat{
  display: inline-block;
  float; right;
  border: 1px solid black;
  border-radius: 5px;
  height: 502px;
  width: 570px;
  margin: 10px 0px 0px 0px;
  padding: 0px;
  vertical-align: top;
}

#lobbyUsersContainer {
  float:left;
  border-right: 2px solid black;
  border-radius: 5px 0px 0px 5px;
  width: 200px;
  height: 500px;
  display: inline-block;
  overflow: auto;
  margin: 0px;
  padding-left: 20px;
  font-size: 14px;
  font-weight: bold;
  background: #011e3a;
  color: #FFFFFF;
}

#lobbyUsersContainer h5{
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

#lobbyChatContainer {
  padding: 10px 0px;
  height: 500px;
  width: 360px;
  margin: 0px 0px 0px 0px;
  border-radius: 0px 5px 5px 0px;
  float: right;
  background-color: #FFFFFF;
}

#lobbyChatDisplay {
  padding: 22px 0px 0px 10px;
  height: 460px;
  width: 330px;
  overflow: auto;
  margin: 0px;
  vertical-align: top;
  font-size: 14px;
}

#lobbyChatDisplay .username{
  font-weight: bold;
}

#chatForm{
  vertical-align: bottom;
  margin-left: -8px;
  padding: 0px;
}

#lobbyChatContainer input {
  font-size: 16px;
  width: 248px;
  height: 30px;
  display: inline-block;
  border-top: 2px solid black;
  margin: 0px -4px 0px 0px;
  vertical-align: top;
  padding-left: 10px;
}

#lobbyChatContainer button {
  background-color: #002240;
  color: #FFFFFF;
  font-size: 20px;
  width: 120px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  border-radius: 0px 0px 5px 0px;
  border-top: 2px solid black;
  display: inline-block;
}
