@charset "UTF-8";
/*!<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>*/
/*!  Code Duel - Main Stylesheet                   */
/*!  Copyright © 2016:                             */
/*!    Song Gao, Chris Clark,                      */
/*!    Becky Jaimes, Adam Dobkin                   */
/*!<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>*/
/**********************************************************************/
/*VARIABLES                                                           */
/**********************************************************************/
/*Color Vars*/
/**************************************************/
/*Layout Vars*/
/**************************************************/
/**********************************************************************/
/*ELEMENTS                                                            */
/**********************************************************************/
/*Basic Layout*/
/**************************************************/
html,
body {
  height: 100%;
  width: 100%; }

body {
  min-height: 100%;
  background-color: #ecf7f9;
  color: #002240;
  font-family: "Open Sans", sans-serif; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.inlineBlock {
  display: inline-block; }

.autoMarg, .centerCol, .row {
  margin-left: auto;
  margin-right: auto; }

.centerCol {
  float: none; }

.container-fluid {
  padding: 1rem 0; }

.row {
  padding: 0 1rem;
  max-width: 79rem;
  /* 1200px */ }

.padCol {
  padding: 1rem; }

.innerCol {
  padding: 2rem;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem; }

/*Basic Typography*/
/**************************************************/
.inlineText {
  display: inline; }

.centerText {
  text-align: center; }

/*Primary Navigation*/
/**************************************************/
#navBar {
  background-color: #002240;
  color: #FFF; }

/*Header Layout*/
/**************************************************/
/*Content & Columns Layout*/
/**************************************************/
#content .innerCol {
  background-color: white; }

/*Buttons and Forms*/
/**************************************************/
.btn {
  background-color: #66D9EF;
  color: #FFF; }

.btn:hover {
  background-color: #2dd5f5; }

.btn i {
  margin-right: 0.5rem; }

/*Footer Layout*/
/**************************************************/
/* Small devices (tablets, 768px and up) */
