#ChallengeContainer{
  height: 800px;
  width: 700px;
}
.Head{
  display: inline-block;
  width: 300px;
}
#ChallengePrompt{
  border: 1px solid black;
  height: 150px;
  width: 600px;
  overflow: scroll;
}
#PlayerAnswer{
  margin: 40px 0px 40px 0px;
  height: 200px;
  width: 600px;
}
#AnswerText{
  height: 150px;
  width: 600px;
}
/*#ChallengeTests{
  border: 1px solid black;
  height: 150px;
  width: 500px;	
}*/
