#navBar{
  display: block;
  height: 70px;
  width: 1000px;
  text-align: center;
  background: #002240;
  color: #FFFFFF;
  margin: 0px;
}
#content{
  margin: 0px;
  display:block;
}

.container{
  padding: 0px;
}
#login{
  text-align: center;
  margin: 20px 0px 0px -14px;
  width: 1000px;
}
#login button{
  height:40px;
  width: 200px;
  margin-top: 20px;
  background-color: #002240;
  color: #FFFFFF;
  border-radius: 5px;
  font-size: 20px;
}
#login h4{
  margin-top: 20px;
  font-size: 20px;

}

#login input{
  border: 1px solid black;
  border-radius: 5px;
  height:40px;
  width: 200px;
}

#challengeContainer{
  margin-left: 0px;
  height: 800px;
  width: 1000px;
  padding: 20px 35px;
  background-color:  #ecf7f9;
  display: block;
  position: absolute
}

#challengeHeader{
  margin: 0px 0px 20px 0px;
  padding:0px 20px 0px 20px;
  border-bottom: 4px solid #011e3a;
}

#game{
  text-align: center;
  padding-left: 40px;
}
#counter{
  text-align: right;
}

#message{
  text-align: center;
  margin-bottom: 30px;
}
#ChallengePrompt{
  background: #011e3a;
  color: #FFFFFF;
  border-radius: 5px;
  height: 500px;
  width: 380px;
  overflow: scroll;
}
#PlayerAnswer{
  height: 500px;
  width: 540px;
  text-align: center;
}
/*#AnswerText{
  height: 150px;
  width: 600px;
}*/
/*#ChallengeTests{
  border: 1px solid black;
  height: 150px;
  width: 500px;	
}*/

.ace_editor { 
  height: 460px;
  width: 540px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: left;
}

#submit{
  background-color: #002240;color: #FFFFFF;
  font-size: 20px;
  width: 420px;
  height: 30px;
  padding: 0px;
  border-radius: 5px;
}