<div id="navWrap" class="row">
  <div class="padCol floatLeft">
    <div id="duelLogo"></div>
  </div>
  <div class="btn-group floatRight padCol" uib-dropdown is-open="status.isopen">
    <button id="single-button" class="btn" uib-dropdown-toggle><i class="fa fa-cog"></i></button>
    <div class="dropdown-menu innerCol" uib-dropdown-menu role="menu" aria-labelledby="single-button">
      <h5>Theme</h5>
      <button class="btn btnWide" role="menuitem" ng-click="changeTheme('default')">Dark</button>
      <button class="btn btnWide" role="menuitem" ng-click="changeTheme('light')">Light</button>
      <button class="btn btnWide noBottomMargin" role="menuitem" ng-click="changeTheme('retro')">Retro</button>
    </div>
  </div>
</div>
