<div id="chatWindowInnerCol" class="innerCol noRadius">
  <div id="chatDisplay" class="innerCol noRadius" scroll-glue>
    <div id="chatMessage" ng-repeat="message in data.messages">
      <span ng-style="{'color':'{{nameToColor(message.userId)}}'}" class="chatUsername">{{message.userId}}:</span>
      <span class="chatText" ng-bind-html="message.text | unsafe" ng-class="{bold: message.bold}">{{message.text}}</span>
    </div>
  </div>
  <div id="chatSendForm">
    <div class="row">
      <div class="col-xs-9">
      <input type="text" on-enter="sendMessage()" ng-model="data.chatInput">
    </div>
    <div class="col-xs-3">
      <button class="btn btnWide" ng-click="sendMessage()">Chat</button>
    </div>
    </row>
  </div>
</div>
