/**********************************************************************/
/*ELEMENT STYLES                                                      */
/**********************************************************************/
/*Basic Layout*/
/**************************************************/
html,
body {
 height: 100%;
 width: 100%;
}

body {
  min-height: 100%;
  background-color: $primaryColor;
  color: $textOnPrimary;
  font-family: $fontStack;
}

#navBarWrap,
#footerWrap {
  background-color: $primaryColor;
  color: $textOnPrimary;

  h1,h2,h3,h4,h5 {
    color:$headlineOnPrimary;
  }

}

a {
  color: $accentColor;
}

a:hover {
  color: $accentColorHover;
}

#pageContent{
  background-color: $secondaryColor;
  color: $textOnSecondary;
  min-height: 37.5rem; //600px
}

.floatLeft{
  float:left;
}

.floatRight{
  float:right;
}

.inlineBlock {
  display:inline-block;
}

.block {
  display:block;
}

.autoMarg{
  margin-left:auto;
  margin-right:auto;
}

.centerCol {
  @extend .autoMarg;
  float:none;
}

.container-fluid {
  padding:$halfSpacing 0;
}

.row {
  @extend .autoMarg;
  padding:0 $halfSpacing;
  max-width: 75rem + $doubleSpacing; /* 1200px */
}

.padCol {
    padding: $halfSpacing;
}

.innerCol {
    background-color: $secondaryColorLight;
    padding: $spacing;
    height: 100%;
    width: 100%;
    border-radius: $borderRadius;
}

/*duelWrapper allows easy class overrides*/
#duelWrapper .noPadding {
  padding:0;
}

#duelWrapper .noRadius {
  border-radius:0;
}

#duelWrapper .noBottomMargin {
  margin-bottom:0;
}

/*Basic Typography*/
/**************************************************/
h1,h2,h3,h4,h5 {
  color:$headlineOnSecondary;
  font-weight:700;
  margin-bottom:1rem;
}

.inlineText {
  display:inline;
}

.centerText {
  text-align:center;
}

.bigType {
  font-size: 4em;
}


/*Primary Navigation*/
/**************************************************/
#navBar {
  padding-top:0;
  padding-bottom:0;
}

#duelLogo {
  height:5em;
  width:18.75em;
  background-image: url('/assets/images/code-duel-logo-dark.png');
  background-size:100% 100%;
}

#navBar .dropdown-menu {
  height:auto;
  width: auto;
}

#navBar .dropdown-menu li{
  padding:$quarterSpacing $spacing;
  display:block;
  width:100%;
}

/*Header Layout*/
/**************************************************/

/*Content & Columns Layout*/
/**************************************************/
/*Chat Specific*/
#chatWrap {
  border-radius: $borderRadius;
  overflow:hidden;
}

#chatUsersInnerCol {
  background-color: $primaryColor;
  color: $textOnPrimary;
  overflow-y: auto;
}

#chatWindowInnerCol {
  padding-right:0;
  padding-left:0;
  padding-bottom:5rem;
  position:relative;
}

#chatDisplay {
  height: 100%;
  padding-top:0;
  padding-bottom:0;
  overflow-y: scroll;
}

#chatSendForm {
  position:absolute;
  width:100%;
  bottom:0;
}

.bold {
  font-weight: bold;
}

/*Lobby Specific*/
#lobbyChat #chatUsersInnerCol,
#lobbyChat #chatWindowInnerCol {
  height:37.5rem; /*600px*/
}

#activeGamesHeader {
  height: 100px;
  border-bottom: 2px solid $primaryColor;
  margin-bottom: 15px;
}

#activeGamesList {
  height: 31rem;
  overflow: auto;
}

.gameInfoItem {
  background-color: $accentColor;
  color:$textOnAccent;
  margin-bottom: $halfSpacing;
  padding: $halfSpacing;
}

.gameInfoItem:hover {
  background-color: $accentColorHover;
  cursor:pointer;
}

/*Game Specific*/
#gameDashboard #chatUsersInnerCol,
#gameDashboard #chatWindowInnerCol {
  height:18.75rem; /*300px*/
}

#challengePrompt,
#challengeOutput{
  background-color: $primaryColor;
  color: $textOnPrimary;
  height:25rem; /*400px*/
  overflow-y: auto;
}

#playerEditorWrap{
  background-color: $primaryColor;
  color: $textOnPrimary;
  height:25rem; /*400px*/
  overflow:hidden;
}

#playerEditor {
  height:100%;
  overflow-y: auto;
}

.lowerButtonWrap .btn {
  margin-top:$halfSpacing;
  margin-bottom:0;
}

.lowerButtonWrap .btn.floatRight {
  margin-right: 0;
}

.console-failed {
  color: red;
  border-bottom: 1px dashed red;
  margin: 5px 0px;
}

.console-passed {
  color: green;
  border-bottom: 1px dashed green;
  margin: 5px 0px;
}

pre {
  left: 0px;
  color: #000;
  background-color: #eee;
}

/*Spectator Specific*/
.watchScreen {
  height:25rem; /*400px*/
}

#spectatorPrompt {
  height:18.75rem; /*300px*/
  overflow:auto;
}

/*Buttons and Forms*/
/**************************************************/
.btn,
input[type="submit"] {
  background-color: $accentColor;
  color:$textOnAccent;
  margin-bottom: $halfSpacing;
  margin-right: $quarterSpacing;
  border-radius: $halfBorderRadius;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:hover,
input[type="submit"]:hover {
  background-color: $accentColorHover;
  color:$textOnAccent;
}

.btn i {
  margin-right: $quarterSpacing;
}

.btn.altAction {
  background-color: $altActionColor;
}

.btn.altAction:hover {
  background-color: $altActionColorHover;
}

.btnWide {
  width:100%;
  max-width:12.5rem; /*200px*/
}

input,
select,
textarea {
  padding: $quarterSpacing;
  border-radius: $halfBorderRadius;
  margin-bottom: $halfSpacing;
  box-sizing: border-box;
  width:100%;
  color:$textOnInputBox;
}

input[type="submit"],
input[type="file"],
input[type="number"],
input[type="date"],
select {
    width:auto;
}

input[type="radio"],
input[type="checkbox"]{
    height:auto;
    width:auto;
    padding:inherit;
}

/*Footer Layout*/
/**************************************************/



/* Small devices (tablets, 768px and up) */                                     ///// ///// ///// /////  MEDIA QUERY*/
@media (min-width: 768px) {

  /**********************************************************************/
  /*VARIABLES                                                           */
  /**********************************************************************/
  /*Color Vars*/
  /**************************************************/

  /*Layout Vars*/
  /**************************************************/

  /**********************************************************************/
  /*ELEMENTS                                                            */
  /**********************************************************************/
  /*Basic Typography*/
  /**************************************************/

  /*Basic Layout*/
  /**************************************************/

  /*Primary Navigation*/
  /**************************************************/

  /*Header Layout*/
  /**************************************************/

  /*Content & Columns Layout*/
  /**************************************************/

  /*Buttons and Forms*/
  /**************************************************/

  /*Footer Layout*/
  /**************************************************/
}
