/**********************************************************************/
/*STANDARD VARIABLES                                                  */
/**********************************************************************/
$spacing: 2rem;
$halfSpacing: $spacing / 2;
$quarterSpacing: $spacing / 4;

$doubleSpacing: $spacing * 2;

$borderRadius: .5rem;
$halfBorderRadius: $borderRadius / 2;
