@import '_styleHeader.scss';

/**********************************************************************/
/*THEME VARIABLES                                                     */
/**********************************************************************/
$headlineFontStack: 'Open Sans', sans-serif;
$fontStack: 'Open Sans', sans-serif;

$headlineOnPrimary: #EEE;
$headlineOnSecondary: #EEE;

$textOnAccent: #FFF;
$textOnAccentHover: #FFF;

$textOnPrimary: #EEE;
$textOnPrimaryHover: #EEE;

$textOnSecondary: #EEE;
$textOnSecondaryHover: #EEE;

$textOnInputBox: #333;

$accentColor: #1AAECC;
$accentColorLight: desaturate(lighten($accentColor, 15%), 15%);
$accentColorDark: saturate(darken($accentColor, 15%), 15%);
$accentColorHover: $accentColorDark;

$primaryColor: #25282C;
$primaryColorLight: desaturate(lighten($primaryColor, 15%), 15%);
$primaryColorDark: saturate(darken($primaryColor, 15%), 15%);
$primaryColorHover: $primaryColorDark;

$secondaryColor: #565D66;
$secondaryColorLight: lighten($secondaryColor, 10%);
$secondaryColorDark: saturate(darken($secondaryColor, 15%), 15%);
$secondaryColorHover: $secondaryColorDark;

$altActionColor: #F04848;
$altActionColorLight: desaturate(lighten($altActionColor, 15%), 15%);
$altActionColorDark: saturate(darken($altActionColor, 15%), 15%);
$altActionColorHover: $altActionColorDark;

@import '_standardVars.scss';

@import '_baseStyles.scss';
