@import '_styleHeader.scss';

/**********************************************************************/
/*THEME VARIABLES                                                     */
/**********************************************************************/
$headlineFontStack: 'Open Sans', sans-serif;
$fontStack: 'Open Sans', sans-serif;

$headlineOnPrimary: #444;
$headlineOnSecondary: #444;

$textOnAccent: #FFF;
$textOnAccentHover: #FFF;

$textOnPrimary: #444;
$textOnPrimaryHover: #444;

$textOnSecondary: #444;
$textOnSecondaryHover: #444;

$textOnInputBox: #444;

$accentColor: #0ed4fa;
$accentColorLight: desaturate(lighten($accentColor, 15%), 15%);
$accentColorDark: saturate(darken($accentColor, 15%), 15%);
$accentColorHover: $accentColorLight;

$primaryColor: #FFFFFF;
$primaryColorLight: desaturate(lighten($primaryColor, 15%), 15%);
$primaryColorDark: saturate(darken($primaryColor, 15%), 15%);
$primaryColorHover: $primaryColorDark;

$secondaryColor: #DDD;
$secondaryColorLight: desaturate(lighten($secondaryColor, 10%), 10%);
$secondaryColorDark: saturate(darken($secondaryColor, 15%), 15%);
$secondaryColorHover: $secondaryColorDark;

$altActionColor: #eb0000;
$altActionColorLight: desaturate(lighten($altActionColor, 15%), 15%);
$altActionColorDark: saturate(darken($altActionColor, 15%), 15%);
$altActionColorHover: $altActionColorLight;

@import '_standardVars.scss';

@import '_baseStyles.scss';

#duelLogo {
  background-image: url('/assets/images/code-duel-logo-light.png');
}

#pageBanner {
  background-image: url('/assets/images/code-duel-home-background-light.png');
}

#codeDuelHomeBanner {
  background-image: url('/assets/images/code-duel-home-light.png');
}

.innerCol {
    background-color: $secondaryColorLight;
}
