@import '_styleHeader.scss';

/**********************************************************************/
/*THEME VARIABLES                                                     */
/**********************************************************************/
$headlineFontStack:  'Press Start 2P', sans-serif;
$fontStack:  'Press Start 2P', sans-serif;

$headlineOnPrimary: #CC2414;
$headlineOnSecondary: #CC2414;

$textOnAccent: #FFF;
$textOnAccentHover: #FFF;

$textOnPrimary: #191919;
$textOnPrimaryHover: #191919;

$textOnSecondary: #272822;
$textOnSecondaryHover: #272822;

$textOnInputBox: #191919;

$accentColor: #CC2414;
$accentColorLight: desaturate(lighten($accentColor, 15%), 15%);
$accentColorDark: saturate(darken($accentColor, 15%), 15%);
$accentColorHover: $accentColorLight;

$primaryColor: #CCC9C4;
$primaryColorLight: desaturate(lighten($primaryColor, 15%), 15%);
$primaryColorDark: saturate(darken($primaryColor, 15%), 15%);
$primaryColorHover: $primaryColorDark;

$secondaryColor: #737373;
$secondaryColorLight: desaturate(lighten($secondaryColor, 20%), 5%);
$secondaryColorDark: saturate(darken($secondaryColor, 15%), 15%);
$secondaryColorHover: $secondaryColorDark;

$altActionColor: #222;
$altActionColorLight: desaturate(lighten($altActionColor, 15%), 15%);
$altActionColorDark: saturate(darken($altActionColor, 15%), 15%);
$altActionColorHover: $altActionColorLight;


@import '_standardVars.scss';

$borderRadius: 0;
$halfBorderRadius: $borderRadius / 2;

@import '_baseStyles.scss';

#navBar {border-bottom: $halfSpacing solid #222;}

#pageFooter {border-top: 4rem solid #222;}

#duelLogo {
  background-image: url('/assets/images/code-duel-logo-retro.png');
}

.innerCol {
    background-color: $secondaryColorLight;
}
